# 1. Empêcher l'affichage des dossiers (Sécurité)
Options -Indexes
Options -MultiViews

# 2. Activer le moteur de réécriture
RewriteEngine On

# 3. Base du projet (sous-dossier XAMPP)
RewriteBase /dme_hospital/

# 4. Support des fichiers DICOM
AddType application/dicom .dcm
AddType application/dicom .dicom

# 5. Forcer le type MIME pour les images de preview
AddType image/jpeg .jpg .jpeg

# 6. Si le fichier ou dossier existe physiquement, on ne fait rien
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 7. Sinon, tout vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# 8. Protection des fichiers sensibles
<FilesMatch "\.(sql|log|ini|sh|bak|env)$">
    Order allow,deny
    Deny from all
</FilesMatch>